@media screen and (max-width: 991px) {
    /* navbar brand */
    .navigation-wrap .navbar-brand img {
        height: 3.8125rem;
    }
    .my-navbar {
        text-align: center;
        background-color: var(--text-dark);
    }
    .my-navbar .nav-link {
        line-height: 1.875rem;
    }
    .carousel-caption h1 {
        font-size: 54px;
    }
    .carousel-caption p {
        font-size: 22px;
    }
    /* slider section */
    .first-slide,
    .second-slide {
        width: 100%;
        height: 32.56rem;
    }
    /* card design */
    .card img {
        display: block;
        margin: auto;
    }
    .card h4,
    span {
        text-align: center;
    }
    .card button {
        display: block;
        margin: auto;
    }
}

@media screen and (max-width: 767px) {
    .carousel-caption h1 {
        font-size: 30px;
    }
    .carousel-caption p {
        font-size: 16px;
    }
    /* slider section */
    .first-slide,
    .second-slide {
        width: 100%;
        height: 28.5rem;
    }
    /* carousel design */
    .testimonial-section .carousel-item {
        padding: 11rem 3.125rem;
    }
    .testimonial-section .carousel-item .carousel-caption p {
        font-size: 1.3125rem;
        line-height: 2.0625rem;
        padding: 0;
        color: var(--text-dark);
        text-shadow: none;
    }
    /* service design */
    .service-text {
        font-size: 1rem;
    }
    .service-icons p {
        font-size: 0.675rem;
    }
    .service-icons p i {
        font-size: 0.325rem;
    }
    /* newsletter design */
    .newsletter {
        width: 75%;
    }
    .newsletter .main-btn {
        width: 100%;
        margin-top: 1rem;
    }
    .map iframe {
        height: 350px;
    }
    /* footer design */
    .footer .footer-link,
    .footer a i {
        padding: 0 0.7rem;
    }
}

@media screen and (max-width: 550px) {
    .first-slide,
    .second-slide {
        width: 100%;
        height: 22.25rem;
    }
}

@media screen and (max-width: 400px) {
    .our-owner {
        width: 300px;
        height: 320px;
    }
}

@media screen and (max-width: 330px) {
    /* Team Design */
    .owner_wrapper {
        margin-bottom: 6.25rem;
    }
    .our-owner {
        width: 260px;
        height: 280px;
    }
    /* order button design */
    .main-btn {
        padding: 0.0625rem 0.275rem;
    }
    .testimonial-section .carousel-item {
        padding: 5rem 3.125rem !important;
    }
    .testimonial-section .carousel-item .carousel-caption img {
        display: none;
    }
    .first-slide,
    .second-slide {
        width: 100%;
        height: 18.25rem;
    }
}